<header class="header-section d-none d-xl-block">
	<div class="header-wrapper">
		<div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-12 d-flex align-items-center justify-content-between">
						<!-- Start Header Logo -->
						<div class="header-logo">
							<div class="logo">
								<a href="index.html"><img src="{{ asset('build/images//logo/logo_black.png') }}" alt=""></a>
							</div>
						</div>
						<!-- End Header Logo -->

						<!-- Start Header Main Menu -->
						<div class="main-menu menu-color--black menu-hover-color--golden">
							<nav>
								<ul>
									<li class="has-dropdown">
										<a class="active main-menu-link" href="{{ path('app_home')}} ">Home

										</a>

									</li>
									{% if app.user %}
										<li class="has-dropdown has-megaitem">
											<a href=" {{ path('app_watch')}} ">Shop

											</a>
											<!-- Mega Menu -->
										</li>
									{% endif %}

									<li>
										<a href="{{ path('app_apropos')}} ">About Us</a>
									</li>
									<li>
										<a href="{{ path('app_contact')}} ">Contact Us</a>
									</li>

						{% if app.user %}
						<li>a</li>
									{{ app.user.fullName}}
								
						<a class="dropdown-item" href="{{ path('app_edit_user', {id: app.user.id})}} ">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">
									modifier mes infos</font>
							</font>
						</a>
						<a class="dropdown-item" href="{{ path('app_edit_pass', {id: app.user.id})}} ">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Modifier mon mots de passe</font>
							</font>
						</a>
						{% if 'ROLE_ADMIN' in app.user.roles%}
							<a class="dropdown-item" href="{{ path('admin')}} ">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">admin</font>
								</font>
							</a>
						{% endif %}
						<a class="dropdown-item" href="{{ path('app_logout')}} ">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Se deconnecter</font>
							</font>
						</a>

						<div class="dropdown-divider"></div>
					{% else %}
						<a class="dropdown-item" href="{{path('app_login')}} ">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Se connecter</font>
							</font>
						</a>
						<a class="dropdown-item" href="{{path('app_register')}} ">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">creer un compte</font>
							</font>
						</a>

					{% endif %}
									<li>
										<a href="{{ path('app_security')}} ">Connexion</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- End Header Main Menu Start -->

						<!-- Start Header Action Link 
																														<ul class="header-action-link action-color--black action-hover-color--golden">
																															<li>
																																<a href="#offcanvas-wishlish" class="offcanvas-toggle">
																																	<i class="icon-heart"></i>
																																	<span class="item-count">3</span>
																																</a>
																															</li>
																															<li>
																																<a href="#offcanvas-add-cart" class="offcanvas-toggle">
																																	<i class="icon-bag"></i>
																																	<span class="item-count">3</span>
																																</a>
																															</li>
																															<li>
																																<a href="#search">
																																	<i class="icon-magnifier"></i>
																																</a>
																															</li>
																															<li>
																																<a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
																																	<i class="icon-menu"></i>
																																</a>
																															</li>
																														</ul>
																														 End Header Action Link !-->
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
