<header class="header-section d-none d-xl-block">
	<div class="header-wrapper">
		<div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-12 d-flex align-items-center justify-content-between">
						<!-- Start Header Logo -->
						<div class="header-logo">
							<div class="logo">
								<a href="index.html"><img src="{{ asset('build/images//logo/logo_black.png') }}" alt=""></a>
							</div>
						</div>
						<!-- End Header Logo -->

						<!-- Start Header Main Menu -->
						<div class="main-menu menu-color--black menu-hover-color--golden">
							<nav>
								<ul>
									
									{% if app.user %}
										<li class="has-dropdown has-megaitem">
											<a href=" {{ path('app_watch')}} ">Home

											</a>
											<!-- Mega Menu -->
										</li>
										<li>
										<a href="{{ path('app_card')}} ">Panier</a></li>
									{% endif %}

									<li>
										<a href="{{ path('app_apropos')}} ">About Us</a>
									</li>
									<li>
										<a href="{{ path('app_contact')}} ">Contact Us</a>
									</li>

									{% if app.user %}

										<li class="has-dropdown">
											<a class="active main-menu-link" href="index.html">Home
												<i class="fa fa-angle-down"></i>
											</a>
											<!-- Sub Menu -->
											<ul class="sub-menu">
												<li>
													<a href="#">{{ app.user.nom}}</a>
												</li>
												{% if 'ROLE_ADMIN' in app.user.roles%}

													<li>
														<a href="{{ path('app_watch_create')}}">admin</li>

													{% endif %}

													<li>
														<a href="{{ path('app_logout')}} ">Se deconnecter</a>
													</li>


												{% else %}
													<li><a href="{{ path('app_security')}} ">Connexion</a></li>
													<li><a href="{{ path('app_register')}} ">Creer un compte</a></li>
												</ul>
											</li>


										{% endif %}

									</ul>
								</nav>
							</div>
							<!-- End Header Main Menu Start -->

							<!-- Start Header Action Link 
																																																																								<ul class="header-action-link action-color--black action-hover-color--golden">
																																																																									<li>
																																																																										<a href="#offcanvas-wishlish" class="offcanvas-toggle">
																																																																											<i class="icon-heart"></i>
																																																																											<span class="item-count">3</span>
																																																																										</a>
																																																																									</li>
																																																																									<li>
																																																																										<a href="#offcanvas-add-cart" class="offcanvas-toggle">
											   <!-- If we need pagination -->
            <div class="swiper-pagination active-color-golden"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev d-none d-lg-block"></div>
            <div class="swiper-button-next d-none d-lg-block"></div>																																																																<i class="icon-bag"></i>
																																																																 End Header Action Link !-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
