{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
<div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Start Contact Details -->
                    <div class="contact-details-wrapper section-top-gap-100" data-aos="fade-up" data-aos-delay="0">
                        <div class="contact-details">
                            <!-- Start Contact Details Single Item -->
                            <div class="contact-details-single-item">
                                <div class="contact-details-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="contact-details-content contact-phone">
                                    <a href="tel:+243815353653">0815353653</a>
                                    <a href="tel:+243815353653">0815353653</a>
                                </div>
                            </div> <!-- End Contact Details Single Item -->
                            <!-- Start Contact Details Single Item -->
                            <div class="contact-details-single-item">
                                <div class="contact-details-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="contact-details-content contact-phone">
                                    <a href="mailto:Merdikibasonga@gmail.com">Merdikibasonga@gmail.com</a>
                                    <a href="http://www.example.com/">www.merdi.com</a>
                                </div>
                            </div> <!-- End Contact Details Single Item -->
                            <!-- Start Contact Details Single Item -->
                            <div class="contact-details-single-item">
                                <div class="contact-details-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="contact-details-content contact-phone">
                                    <span> votre address</span>
                                </div>
                            </div> <!-- End Contact Details Single Item -->
                        </div>
                        <!-- Start Contact Social Link -->
                        <div class="contact-social">
                            <h4>Follow Us</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- End Contact Social Link -->
                    </div> <!-- End Contact Details -->
                </div>
                <div class="col-lg-8">
                    <div class="contact-form section-top-gap-100" data-aos="fade-up" data-aos-delay="200">
                        <h3>Get In Touch</h3>
                            {{form_start(form)}}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="default-form-box mb-20">
                                        {# <label for="contact-name">Name</label>
                                        <input name="name" type="text" id="contact-name"> #}
                                        {{form(form.nom)}}

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="default-form-box mb-20">
                                        {# <label for="contact-email">Email</label>
                                        <input name="email" type="email" id="contact-email"> #}
                                        {{form(form.email)}}

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="default-form-box mb-20">
                                        {# <label for="contact-subject">Subject</label>
                                        <input name="subject" type="text" id="contact-subject"> #}
                                        {{form(form.objet)}}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="default-form-box mb-20">
                                        {# <label for="contact-message">Your Message</label>
                                        <textarea name="message" id="contact-message" cols="30" rows="10"></textarea> #}
                                        {{form(form.message)}}

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    {# <button class="btn btn-lg btn-black-default-hover" type="submit">SEND</button> #}
                                    {{form(form.submit)}}

                                </div>
                                <p class="form-messege"></p>
                            </div>
                            {{fom}}

                        
                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
