{% extends 'base.html.twig' %}

{% block title %}Hello CardController!
{% endblock %}

{% block body %}
	<div class="text-center">
		votre panier
	</div>

	<table>
		<thead>
			<tr>
				<th>Produit</th>
				<th>Prix</th>
				<th>Quantite</th>
				<th>Total</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for element in dataPanier %}

				<tr>{{ element.produit.name}}
				</tr>
				<tr>{{element.produit.price}}
					$</tr>
				<tr>{{ element.quantite}}
				</tr>
				<tr class="text-right">{{element.quantite * element.produit.price}}
					$</tr>
				<tr>
					<a href="{{path("card_add", {id:element.produit.id})}}" class="btn btn-success">
						<i class="bi bi-cart-plus"></i>
					</a>
					<a href="{{path("card_add", {id:element.produit.id})}}" class="btn btn-warning">
						<i class="bi bi-cart-plus"></i>
					</a>
					<a href="{{path("card_add", {id:element.produit.id})}}" class="btn btn-warning">
						<i class="bi bi-cart-dash"></i>
					</a>

				</tr>
			{% else %}
				<tr>
					<td colspan="5" class="text-center">
						votre  panier est vide
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">Total</td>
				<td class="text-end">{{ total}} $</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}
